# Doing calculations on timeseries

In [1]:
import pandas

In [3]:
df = pandas.read_csv('Messstationen_Tagesdaten_v2_Datensatz_19900101_20250515.csv')
df['time'] = pandas.to_datetime(df['time'])
df = df.set_index('time')
df = df.dropna()
df.head(5)

                           station  tlmax  tlmin  tl_mittel  rf_mittel
time
1990-01-01 00:00:00+00:00     5925   -0.1   -1.6       -0.9       83.0
1990-01-02 00:00:00+00:00     5925    1.4   -2.3       -0.5       78.0
1990-01-03 00:00:00+00:00     5925    1.4   -0.7        0.4       66.0
1990-01-04 00:00:00+00:00     5925    1.2   -5.5       -2.2       78.0
1990-01-05 00:00:00+00:00     5925   -1.0   -4.6       -2.8       85.0

## Works the same as with regular pandas series

In [5]:
# calculations based on columns
df['tlmax'] - df['tlmin']

time
2002-01-01 00:00:00+00:00     9.6
2002-01-02 00:00:00+00:00    13.6
2002-01-03 00:00:00+00:00     7.5
2002-01-04 00:00:00+00:00    10.2
2002-01-05 00:00:00+00:00     8.5
                             ...
2018-05-17 00:00:00+00:00     9.7
2018-05-18 00:00:00+00:00    11.8
2018-05-19 00:00:00+00:00    13.1
2018-05-20 00:00:00+00:00    12.9
2018-05-21 00:00:00+00:00    11.2
Length: 5959, dtype: float64

In [4]:
# calculate the difference between the current and the last timestep
df.diff()

,station,cglo_j,rr,tl_mittel,vv_mittel,p_mittel,tlmin,tlmax
time,,,,,,,,
2002-01-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-02 00:00:00+00:00,0.0,244.0,1.0,1.6,0.6,-6.8,-0.4,3.6
2002-01-03 00:00:00+00:00,0.0,118.0,-1.0,-0.7,0.0,6.2,2.4,-3.7
2002-01-04 00:00:00+00:00,0.0,-16.0,0.0,-8.0,-1.1,3.4,-9.4,-6.7
2002-01-05 00:00:00+00:00,0.0,-433.0,0.0,-0.8,0.0,0.0,0.1,-1.6
...,...,...,...,...,...,...,...,...
2018-05-17 00:00:00+00:00,0.0,49.0,-4.2,0.7,0.8,2.6,0.6,0.8
2018-05-18 00:00:00+00:00,0.0,67.0,0.0,1.5,0.0,2.5,0.5,2.6
2018-05-19 00:00:00+00:00,0.0,620.0,0.0,0.0,1.1,1.5,-0.7,0.6
2018-05-20 00:00:00+00:00,0.0,-593.0,12.7,-1.1,-1.1,2.4,-1.0,-1.2
2018-05-21 00:00:00+00:00,0.0,289.0,-10.3,1.3,0.0,-3.2,2.2,0.5